[submodule "Client"]
	path = Client
	url = https://github.com/Project-Testify/Testify-Frontend.git
[submodule "Server"]
	path = Server
	url = https://github.com/Project-Testify/Testify-Backend.git
[submodule "AI-Assistant"]
	path = AI-Assistant
	url = https://github.com/Project-Testify/AI-Assistant.git
